<nav class="navbar-nav">
  <div class="navbar-item">
    <a routerLink="/">
      Home
    </a>
  </div>
  <div class="navbar-item">
    <a routerLink="/app1">
      App 1
    </a>
  </div>
  <div class="navbar-item">
    <a routerLink="/app2">
      App 2
    </a>
  </div>
  <div class="navbar-item">
    <a routerLink="/app3">
      App 3
    </a>
  </div>
</nav>
