<h1 class="title">Angular Router - app3</h1>
<nav>
  <a routerLink="/app3/crisis-center" routerLinkActive="active">Crisis Center</a>
  <a routerLink="/app3/superheroes" routerLinkActive="active">Heroes</a>
  <a routerLink="/app3/admin" routerLinkActive="active">Admin</a>
  <a routerLink="/app3/login" routerLinkActive="active">Login</a>
  <!--<a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>-->
</nav>
<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
<router-outlet name="popup"></router-outlet>
